* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: 20px;
  padding: 25px;
}

h2 {
  margin: 20px;
  padding: 25px;
}

input {
  height: 30px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25%;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  font-size: 16px;
}

.book:nth-child(odd) {
  background-color: grey;
  color: #fff;
}

.remove {
  padding: 5px;
  background-color: #ff7851;
  color: #f6f6f6;
  border: none;
}

.add {
  margin-left: 325px;
  width: 60px;
  background-color: #56cc9d;
  color: #f6f6f6;
  border: none;
}

.hiddenTitle {
  display: none;
}

.title {
  display: block;
}

.hiddelibrary {
  display: none;
}

.library {
  display: block;
}

.addBook {
  display: block;
}

.hiddenAddBook {
  display: none;
}

.contactBook {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40%;
}

.contact-list {
  margin: 10px;
  padding: 10px;
}

.hiddenContactBook {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272a32;
  color: #fff;
  padding: 2%;
}

.tabs a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

a:hover {
  color: #56cc9d;
}

.date {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 2%;
  font-weight: 600;
}

.datexon {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}
