* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: 20px;
  padding: 25px;
}

h2 {
  margin: 20px;
  padding: 25px;
}

input {
  height: 25px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25%;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  font-size: 16px;
}

.book:nth-child(odd) {
  background-color: grey;
  color: #fff;
}

.remove {
  padding: 5px;
}

.add {
  margin-left: 325px;
  width: 60px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: #ddd;
}

.topnav a.active {
  color: white;
}

#list {
  margin-left: 55%;
}

.hiddBox {
  display: none;
}
